* {
    box-sizing: border-box;
    margin: 0; padding: 0;
  }
  body {
    font-family: 'Roboto', sans-serif;
    color: rgb(85,75,85);
    background-color: rgb(255,255,255);
  }
  h1 {
    padding: 50px 0;
    font-size: 45px;
    text-align: center;
    color: rgb(54, 56, 55);
  }
  :active, :hover, :focus {
    outline: 0!important;
    outline-offset: 0;
  }
  ::before,
  ::after {
    position: absolute;
    content: "";
  }
  
  .btn-holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1000px;
    margin: 10px auto 35px;
  }
  .btn {
    position: relative;
    display: inline-block;
    width: auto; height: auto;
    background-color: transparent;
    border: none;
    cursor: pointer;
    margin: 0px 25px 15px;
    min-width: 150px;
  }
    .btn span {         
      position: relative;
      display: inline-block;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      text-transform: uppercase;
      top: 0; left: 0;
      width: 100%;
      padding: 15px 20px;
      transition: 0.3s;
    }

    /*--- btn-3 ---*/
.btn-3 {
    padding: 5px;
  }
  .btn-3 span {
    color: rgb(255, 255, 255);
    background-color: rgb(54, 56, 55);
  }
  .btn-3::before,
  .btn-3::after {
    background: transparent;
    z-index: 2;
  }
  
  /* 11. hover-border-1 */
  .btn.hover-border-1::before,
  .btn.hover-border-1::after {
    width: 10%; height: 25%;
    transition: 0.35s;
  }
  .btn.hover-border-1::before {
    top: 0; left: 0;
    border-left: 1px solid rgb(28, 31, 30);
    border-top: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-1::after {
    bottom: 0; right: 0;
    border-right: 1px solid rgb(28, 31, 30);
    border-bottom: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-1:hover::before,
  .btn.hover-border-1:hover::after {
    width: 99%;
    height: 98%;
  }
  
  /* 12. hover-border-2 */
  .btn.hover-border-2::before,
  .btn.hover-border-2::after {
    width: 10%; height: 25%;
    transition: 0.35s;
  }
  .btn.hover-border-2::before {
    bottom: 0; left: 0;
    border-left: 1px solid rgb(28, 31, 30);
    border-bottom: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-2::after {
    top: 0; right: 0;
    border-right: 1px solid rgb(28, 31, 30);
    border-top: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-2:hover::before,
  .btn.hover-border-2:hover::after {
    width: 99%;
    height: 99%;
  }
  
  /* 13. hover-border-3 */
  .btn.hover-border-3::before,
  .btn.hover-border-3::after {
    width: 0%; height: 0%;
    opacity: 0;
    transition: width 0.2s 0.15s linear, height 0.15s linear, opacity 0s 0.35s;
  }
  .btn.hover-border-3::before {
    top: 0; right: 0;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-3::after {
    bottom: 0; left: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-3:hover::before,
  .btn.hover-border-3:hover::after {
    width: 100%; height: 99%;
    opacity: 1;
    transition: width 0.2s linear, height 0.15s 0.2s linear, opacity 0s;   
  }
  
  /* 14. hover-border-4 */
  .btn.hover-border-4::before,
  .btn.hover-border-4::after {
    width: 0%; height: 0%;
    opacity: 0;
    transition: width 0.2s linear, height 0.15s 0.2s ease-out, opacity 0s 0.35s;
  }
  .btn.hover-border-4::before {
    bottom: 0; left: -1px;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-4::after {
    top: 0; right: 0;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
  }
  .btn.hover-border-4:hover::before,
  .btn.hover-border-4:hover::after {
    width: 100%; height: 99%;
    opacity: 1;
    transition: width 0.2s 0.15s ease-out, height 0.15s ease-in, opacity 0s;   
  }
  
  /* 15. hover-border-5 */
  .btn.hover-border-5::before,
  .btn.hover-border-5::after {
    width: 0%; height: 0%;
    opacity: 0;
  }
  .btn.hover-border-5::before {
    top: 0; right: 0;
    border-top: 1px solid rgb(28, 31, 30);
    border-left: 1px solid rgb(28, 31, 30);
    transition: width 0.2s 0.5s ease-out, height 0.15s 0.35s linear, opacity 0s 0.7s;
  }
  .btn.hover-border-5::after {
    bottom: 0; left: 0px;
    border-bottom: 1px solid rgb(28, 31, 30);
    border-right: 1px solid rgb(28, 31, 30);
    transition: width 0.2s 0.15s linear, height 0.15s ease-in, opacity 0s 0.35s;
  }
  .btn.hover-border-5:hover::before,
  .btn.hover-border-5:hover::after {
    width: 100%; height: 96%;
    opacity: 1;
  }
  .btn.hover-border-5:hover::before {
    transition: width 0.2s ease-in, height 0.15s 0.2s linear, opacity 0s;   /* 1,2 */
  }
  .btn.hover-border-5:hover::after {
    transition: width 0.2s 0.35s linear, height 0.15s 0.5s ease-out, opacity 0s 0.3s; 
  } 